<div class="buttons">
  <button (click)="onParagraph()">P</button>
  <button (click)="onHeader()">Header</button>
  <button (click)="onBold()">B</button>
  <button (click)="onItalicize()">I</button>
  <button (click)="onUnderline()">U</button>
  <button (click)="onCode()">Code</button>
  <input type="file" class="file-input" accept="image/*" (change)="onFileSelected($event)" #fileUpload>
  <button (click)="fileUpload.click()">Image</button>
  <button (click)="onLink()">Link</button>
</div>

<textarea 
  #blogEditor
  cols="120"
  rows="20"
  [ngModel]="editorData" 
  (ngModelChange)="onTextChange($event)"
  (select)="onSelectionChange($event)"
>

</textarea>


<div [innerHtml]="htmlData"></div>

<router-outlet></router-outlet>
